# **Lab - Supervised VS unsupervised**

# ðŸ”¹ Part A: Churn Prediction using Logistic Regression (Supervised)

**Data Preparation**

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("../datasets/Customer_Churn_Prediction.csv")

# Drop customerID
df.drop("customerID", axis=1, inplace=True)

# Convert TotalCharges to numeric
df["TotalCharges"] = pd.to_numeric(df["TotalCharges"], errors="coerce")

# Handle missing values
df.dropna(inplace=True)

df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [2]:
df = pd.read_csv('../datasets/Customer_Churn_Prediction.csv')

df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [4]:
df.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

**encode categorical columns**

In [5]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for col in df.select_dtypes(include="object").columns:
    df[col] = le.fit_transform(df[col])

**Train-Test split**

In [6]:
from sklearn.model_selection import train_test_split

X = df.drop("Churn", axis=1)
y = df["Churn"]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

**Logistic Model**

In [7]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(max_iter=5000)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

c:\Users\PC\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

**performance metrics**

In [8]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
cm = confusion_matrix(y_test, y_pred)

print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1 Score:", f1)
print("Confusion Matrix:\n", cm)

Accuracy: 0.8147622427253371
Precision: 0.6842105263157895
Recall: 0.5576407506702413
F1 Score: 0.6144756277695717
Confusion Matrix:
 [[940  96]
 [165 208]]

# ðŸ”¹ Part B: Customer Segmentation using DBSCAN (Unsupervised)

**Feature Scaling**

In [9]:
from sklearn.preprocessing import StandardScaler

features = df[["tenure", "MonthlyCharges", "TotalCharges"]]

scaler = StandardScaler()
scaled_features = scaler.fit_transform(features)

**Apply DBSCAN**

In [10]:
from sklearn.cluster import DBSCAN

dbscan = DBSCAN(eps=0.8, min_samples=5)
clusters = dbscan.fit_predict(scaled_features)

df["Cluster"] = clusters

**Cluster Metrics**

In [11]:
# Number of clusters (excluding noise)
num_clusters = len(set(clusters)) - (1 if -1 in clusters else 0)

# Noise percentage
noise_percentage = (clusters == -1).mean() * 100

print("Number of clusters:", num_clusters)
print("Noise percentage:", noise_percentage)

Number of clusters: 1
Noise percentage: 0.0

**Churn rate per cluster**

In [12]:
cluster_churn = df.groupby("Cluster")["Churn"].mean()

print("Churn Rate per Cluster:")
print(cluster_churn)

Churn Rate per Cluster:
Cluster
0    0.26537
Name: Churn, dtype: float64

**Cleaned dataset**

In [14]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler

# Load dataset
df = pd.read_csv("../datasets/Customer_Churn_Prediction.csv")

# Drop irrelevant column
df.drop("customerID", axis=1, inplace=True)

# Convert TotalCharges to numeric
df["TotalCharges"] = pd.to_numeric(df["TotalCharges"], errors="coerce")

# Remove missing values
df.dropna(inplace=True)

# Encode categorical variables
le = LabelEncoder()
for col in df.select_dtypes(include="object").columns:
    df[col] = le.fit_transform(df[col])


scaler = StandardScaler()

X = df.drop("Churn", axis=1)
y = df["Churn"]

X_scaled = scaler.fit_transform(X)

# Convert back to DataFrame
X_scaled_df = pd.DataFrame(X_scaled, columns=X.columns)

# Combine scaled features with target
df_scaled = pd.concat([X_scaled_df, y.reset_index(drop=True)], axis=1)

print(df_scaled.head())


df_scaled.to_csv("Customer_Churn_Cleaned_Scaled.csv", index=False)

     gender  SeniorCitizen   Partner  Dependents    tenure  PhoneService  \
0 -1.009430      -0.440327  1.035617   -0.652305 -1.280248     -3.056334
1  0.990658      -0.440327 -0.965608   -0.652305  0.064303      0.327189
2  0.990658      -0.440327 -0.965608   -0.652305 -1.239504      0.327189
3  0.990658      -0.440327 -0.965608   -0.652305  0.512486     -3.056334
4 -1.009430      -0.440327 -0.965608   -0.652305 -1.239504      0.327189

   MultipleLines  InternetService  OnlineSecurity  OnlineBackup  \
0       0.062666        -1.183614       -0.917837      1.242875
1      -0.991564        -1.183614        1.408012     -1.028998
2      -0.991564        -1.183614        1.408012      1.242875
3       0.062666        -1.183614        1.408012     -1.028998
4      -0.991564         0.172835       -0.917837     -1.028998

   DeviceProtection  TechSupport  StreamingTV  StreamingMovies  Contract  \
0         -1.026988    -0.924267    -1.112632        -1.121501 -0.826735
1          1.245441    -0.924267    -1.112632        -1.121501  0.373926
2         -1.026988    -0.924267    -1.112632        -1.121501 -0.826735
3          1.245441     1.396963    -1.112632        -1.121501  0.373926
4         -1.026988    -0.924267    -1.112632        -1.121501 -0.826735

   PaperlessBilling  PaymentMethod  MonthlyCharges  TotalCharges  Churn
0          0.828939       0.399805       -1.161694     -0.994194      0
1         -1.206361       1.336636       -0.260878     -0.173740      0
2          0.828939       1.336636       -0.363923     -0.959649      1
3         -1.206361      -1.473857       -0.747850     -0.195248      0
4          0.828939       0.399805        0.196178     -0.940457      1