**import required libraries**

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.preprocessing import OneHotEncoder

**import dataset for linear regression model**

In [2]:
df = pd.read_csv('../../datasets/motorcycle_local.csv')

pd.set_option('display.max_columns', None)

df.head()

,name,year,seller_type,owner,km_driven,ex_showroom_price,selling_price
0,'Royal Enfield Classic 350',2019,Individual,'1st owner',350,NaN,175000
1,'Honda Dio',2017,Individual,'1st owner',5650,NaN,45000
2,'Royal Enfield Classic Gunmetal Grey',2018,Individual,'1st owner',12000,148114.0,150000
3,'Yamaha Fazer FI V 2.0 [2016-2018]',2015,Individual,'1st owner',23000,89643.0,65000
4,'Yamaha SZ [2013-2014]',2011,Individual,'2nd owner',21000,NaN,20000

In [3]:
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1061 entries, 0 to 1060
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               1061 non-null   object
 1   year               1061 non-null   int64
 2   seller_type        1061 non-null   object
 3   owner              1061 non-null   object
 4   km_driven          1061 non-null   int64
 5   ex_showroom_price  626 non-null    float64
 6   selling_price      1061 non-null   int64
dtypes: float64(1), int64(3), object(3)
memory usage: 58.2+ KB

(1061, 7)

**set target and features**

In [4]:
df_target = df['selling_price'].astype(float)
df_features = df.drop(columns=['selling_price'])

**one not encoding**

In [5]:
categorical_columns = df_features.select_dtypes(include=['object']).columns


Encoder = OneHotEncoder(sparse_output=False, drop='first')
encoded_values = Encoder.fit_transform(df_features[categorical_columns])


DataFrameEncodedCats = pd.DataFrame(
    encoded_values,
    columns=Encoder.get_feature_names_out(categorical_columns),
    index=df_features.index
)